In [1]:
!pip install geopy

Requirement already satisfied: geopy in /Users/abhishekpadala/anaconda3/lib/python3.8/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/abhishekpadala/anaconda3/lib/python3.8/site-packages (from geopy) (1.50)

In [1]:
import pandas as pd
import numpy as np

In [3]:
#df = pd.read_csv('rental_data1.csv')
#df.head()

,Unnamed: 0,Rent,Location,lat,long
0,0,"1,750","70 Temperance St, Unit 4116,Toronto,Ontario",43.650530,-79.382148
1,1,"1,900","197 Yonge Street St, Unit 2104,Toronto,Ontario",43.653525,-79.379238
2,2,"1,700","403 Church St, Unit 1711,Toronto,Ontario",43.662066,-79.379337
3,3,"2,100","25 Oxley St, Unit 413,Toronto,Ontario",43.646247,-79.394528
4,4,"1,950","87 Peter St, Unit 2701,Toronto,Ontario",43.646944,-79.392397

In [4]:
df['latlong'] = df[df.columns[3:]].apply(lambda x: ','.join(x.dropna().astype(float).astype(str)), axis=1)
df

,Unnamed: 0,Rent,Location,lat,long,latlong
0,0,"1,750","70 Temperance St, Unit 4116,Toronto,Ontario",43.650530,-79.382148,"43.650530100000005,-79.3821482"
1,1,"1,900","197 Yonge Street St, Unit 2104,Toronto,Ontario",43.653525,-79.379238,"43.653524600000004,-79.3792385"
2,2,"1,700","403 Church St, Unit 1711,Toronto,Ontario",43.662066,-79.379337,"43.6620656,-79.37933710000001"
3,3,"2,100","25 Oxley St, Unit 413,Toronto,Ontario",43.646247,-79.394528,"43.6462468,-79.39452849999998"
4,4,"1,950","87 Peter St, Unit 2701,Toronto,Ontario",43.646944,-79.392397,"43.6469441,-79.3923973"
...,...,...,...,...,...,...
655,655,"1,800","21 Carlton St, Unit 2604,Toronto,Ontario",43.661103,-79.382106,"43.66110270000001,-79.3821061"
656,656,"1,950","70 Temperance St, Unit 1616,Toronto,Ontario",43.650530,-79.382148,"43.650530100000005,-79.3821482"
657,657,"2,000","318 Richmond St W St, Unit 3302,Toronto,Ontario",43.648900,-79.392205,"43.6489001,-79.39220499999998"
658,658,"1,850","763 Bay St, Unit 1107,Toronto,Ontario",43.659944,-79.385188,"43.6599441,-79.3851875"
659,659,"1,750","210 Victoria St, Unit 2209,Toronto,Ontario",43.654624,-79.379076,"43.6546239,-79.3790756"

In [15]:
#from geopy.geocoders import Nominatim

#df['Address'] = ""

#latlong1 = df['latlong']
#for i in range(0,660):
#    try:
#    geolocator = Nominatim(user_agent="cap")
#    df['Address'][i] = geolocator.geocode(df['latlong'][i])
#    except IndexError:
#        print("Address was wrong...")

IndentationError: expected an indented block (<ipython-input-15-e204efa03d41>, line 8)

In [17]:
#df.to_excel('RentReverse.xlsx')

In [5]:

#df = pd.read_excel('RentReverse.xlsx')

In [6]:
#df.head()

,Unnamed: 0,Rent,Location,lat,long,latlong,Address,p,P1
0,0,"1,750","70 Temperance St, Unit 4116,Toronto,Ontario",43.650530,-79.382148,"43.650530100000005,-79.3821482","INDX, 70, Temperance Street, Toronto Centre, O...",,M5H
1,1,"1,900","197 Yonge Street St, Unit 2104,Toronto,Ontario",43.653525,-79.379238,"43.653524600000004,-79.3792385","Bank of Toronto (former), 205, Yonge Street, T...",,M5H
2,2,"1,700","403 Church St, Unit 1711,Toronto,Ontario",43.662066,-79.379337,"43.6620656,-79.37933710000001","438, Church Street, Toronto Centre, Old Toront...",M5B 2J6,
3,3,"2,100","25 Oxley St, Unit 413,Toronto,Ontario",43.646247,-79.394528,"43.6462468,-79.39452849999998","Glas Condominium, Oxley Street, Spadinaâ€”Fort Y...",M5V 2K2,
4,4,"1,950","87 Peter St, Unit 2701,Toronto,Ontario",43.646944,-79.392397,"43.6469441,-79.3923973","The Commodore, Adelaide Street West, Spadinaâ€”F...",M5H,

In [8]:
#merging p1 and p2
#df['postalcode'] = df['p'].str.cat(df['P1'], sep ="")
#df.head()

,Unnamed: 0,Rent,Location,lat,long,latlong,Address,p,P1,postalcode
0,0,"1,750","70 Temperance St, Unit 4116,Toronto,Ontario",43.650530,-79.382148,"43.650530100000005,-79.3821482","INDX, 70, Temperance Street, Toronto Centre, O...",,M5H,M5H
1,1,"1,900","197 Yonge Street St, Unit 2104,Toronto,Ontario",43.653525,-79.379238,"43.653524600000004,-79.3792385","Bank of Toronto (former), 205, Yonge Street, T...",,M5H,M5H
2,2,"1,700","403 Church St, Unit 1711,Toronto,Ontario",43.662066,-79.379337,"43.6620656,-79.37933710000001","438, Church Street, Toronto Centre, Old Toront...",M5B 2J6,,M5B 2J6
3,3,"2,100","25 Oxley St, Unit 413,Toronto,Ontario",43.646247,-79.394528,"43.6462468,-79.39452849999998","Glas Condominium, Oxley Street, Spadinaâ€”Fort Y...",M5V 2K2,,M5V 2K2
4,4,"1,950","87 Peter St, Unit 2701,Toronto,Ontario",43.646944,-79.392397,"43.6469441,-79.3923973","The Commodore, Adelaide Street West, Spadinaâ€”F...",M5H,,M5H

In [9]:
#df.to_excel('RentReverse.xlsx')